*, *:before, *:after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

    body{
 
        > main {
            margin: 0 auto;
            max-width: 600px;

            > h1 {
                font-size: 3rem;
                line-height: 6rem;
                border-bottom: 3px solid black;
            }
        }
    }
}